.Home {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .intro {
    text-align: center;

    h1 {
      font-size: 1.4rem;
      line-height: 2.8rem;
    }

    h2 {
      font-size: 1rem;
      line-height: 2rem;
    }
  }
}
