@import '../../styles/index';

.Footer {
  padding: 1rem 0;
  background-color: #181c27;
  color: #79849e;

  &-title {
    margin-bottom: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.14286em;
    text-transform: uppercase;
  }

  &-menu {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
  }

  .logo img {
    height: 2rem;
    margin-bottom: 1rem;
  }

  h3 {
    font-size: 0.8rem;
    line-height: 1rem;
  }

  .social {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, 1.5rem);
    gap: 0.25rem;
  }
}
